/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
}

.logintitle {
font-size: 12pt;
font-weight: bold;
}

.loginbox-empty {
  
  background-color: rgba(150,0,0,0.2);
  font-color: black;
  border-width: 3px 3px 3px 3px;
}

/*
.gwt-DialogBox {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.loginformbackground {
  
  background-color: rgba(50,50,50,1);
  opacity: 1;
}*/

/*
.loginform {
  
  border-width: 5px 5px 5px 5px !important;
  background-color: white;
  opacity: 1 !important;
  filter: alpha(opacity=1) !important;
}*/

.loginbox-full {
  
  border-width: 3px 3px 3px 3px;
}

.backgroundpanel {
   background: url(img/background.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-margin: 0 auto;
}

.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  background-color: #E8E8E8;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #878787;
  background-color: #fff;
}

.gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  background-color: #e8e8e8;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;

  background-color: #878787;
  border-bottom: 2px solid #87ffff;
  margin-right: 2px;
}


#map_canvas path {
stroke-width:10; /* control the countries borders width */
}