<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">


  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TestBW.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  
  
  
    
  <servlet>
    <servlet-name>BenchmarkServlet</servlet-name>
    <servlet-class>testbw.benchmark.BenchmarkServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BenchmarkServlet</servlet-name>
    <url-pattern>/testbw/benchmark</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SetupStaticDBServiceImpl</servlet-name>
    <servlet-class>testbw.server.SetupStaticDBServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SetupStaticDBServiceImpl</servlet-name>
    <url-pattern>/testbw/setupStaticDB</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>GeneratorServiceImpl</servlet-name>
    <servlet-class>testbw.server.GeneratorServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GeneratorServiceImpl</servlet-name>
    <url-pattern>/testbw/generator</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LoaderServiceImpl</servlet-name>
    <servlet-class>testbw.server.LoaderServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoaderServiceImpl</servlet-name>
    <url-pattern>/testbw/loader</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>SeatDistributionServiceImpl</servlet-name>
    <servlet-class>testbw.server.SeatDistributionServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SeatDistributionServiceImpl</servlet-name>
    <url-pattern>/testbw/distribution</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>WahlkreissiegerServiceImpl</servlet-name>
    <servlet-class>testbw.server.WahlkreissiegerServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WahlkreissiegerServiceImpl</servlet-name>
    <url-pattern>/testbw/wahlkreissieger</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>GetMembersServiceImpl</servlet-name>
    <servlet-class>testbw.server.GetMembersServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetMembersServiceImpl</servlet-name>
    <url-pattern>/testbw/members</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetMandateServiceImpl</servlet-name>
    <servlet-class>testbw.server.GetMandateServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GetMandateServiceImpl</servlet-name>
    <url-pattern>/testbw/mandate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WahlkreisOverviewServiceImpl</servlet-name>
    <servlet-class>testbw.server.WahlkreisOverviewServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WahlkreisOverviewServiceImpl</servlet-name>
    <url-pattern>/testbw/wahlkreisoverview</url-pattern>
  </servlet-mapping>



</web-app>
